include README.md
include LICENSE
include requirements.txt
recursive-include tests *
global-exclude *.pyc
global-exclude *.pyo
global-exclude __pycache__
global-exclude .git*
global-exclude .idea*
global-exclude .venv* 